.button {
    -webkit-appearance: none;
    background-color: transparent;
    color: $black;
    font-family: 'system-ui', sans-serif;
    font-weight: bold;
    display: inline-block;
    position: relative;
    text-decoration: none;

    &:before, &:after {
        content: "\00203A";
        font-family: 'system-ui', sans-serif;
        position: absolute;
        top: 50%;
        right: -0.75em;
        transform: translate(0, -50%);
    }

    &:after {
        opacity: 0;
        margin-right: 0.25em;
    }

    @media (hover) {
        &:hover, &:focus {

            &:before, &:after {
                transform: translate(0.25em, -50%);
                transition: opacity 0.5s $ease, transform 0.5s $ease;
            }

            &:before {
                opacity: 0;
            }

            &:after {
                opacity: 1;
            }
        }
    }

}