.skills-list {
    margin: 1em 0;

    @media (min-width: $sm) {
        flex: 1;
        padding: 0 0.5em;
        margin: 0;
    }

    span {
        display: inline-block;
        transition: opacity 0.25s $ease, transform 0.25s $ease;

        .trans:not(.active) & {
            opacity: 0;
            transform: translateX(-0.5em);
        }
    }

    &-container {
        position: relative;

        &:before, &:after {
            content: "";
            background-color: var(--color-black);
            top: 0.625em;
            height: calc(100% - 0.625em);
            width: 1px;
            position: absolute;
            transition: height 0.25s;

            .background & {
                background-color: var(--color-white);
            }

            .trans:not(.active) & {
                height: 0 !important;
            }
        }

        &:before {
            left: 0;
            transition-timing-function: $easeIn;
        }

        &:after {
            right: 0;
            transition-timing-function: $easeOut;
        }
    }

    h3 {
        font-size: 1.25rem;
        font-weight: 400;
        letter-spacing: 0.125em;
        text-transform: uppercase;
        display: flex;
        position: relative;
        padding-left: 1rem;
        margin: 0;

        &:before, span:last-child:after {
            content: "";
            background-color: var(--color-black);
            height: 1px;
            position: absolute;
            left: 0;
            top: 50%;
            transition: width 0.25s $easeIn;

            .background & {
                background-color: var(--color-white);
            }

            .trans:not(.active) & {
                width: 0 !important;
            }
        }

        &:before {
            width: 0.5rem;
        }

        span {
            position: relative;

            &:last-child {
                flex: 1;

                &:after {
                    width: 100%;
                }
            }
        }

        @media (min-width: $md) {
            padding-left: 1.5rem;

            &:before {
                width: 1rem;
            }
        }
    }

    ul {
        position: relative;
        padding: 0.5rem;
        margin: 0;
        list-style-type: none;

        @media (min-width: $md) {
            padding: 1rem;
        }

        &:after {
            content: "";
            background-color: var(--color-black);
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            transition: width 0.25s $easeOut;

            .background & {
                background-color: var(--color-white);
            }

            .trans:not(.active) & {
                width: 0 !important;
            }
        }
    }

    li {
        position: relative;
        padding: 0.125em 0.5rem;
        margin-bottom: 0.25em;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            content: "";
            background-color: var(--color-blue);
            opacity: 0.05;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transition: width 0.25s $ease;

            .background & {
                background-color: var(--color-white);
            }

            .trans:not(.active) & {
                width: 0;
            }
        }
    }
}

@for $i from 1 through 3 {
    $stagger: $i * 0.1s;

    .skills-list:nth-child(#{$i}) {
        h3 {
            &:before {
                transition-delay: $stagger;
            }

            span {
                &:last-child:after {
                    transition-delay: $stagger + 0.05s;
                }
            }
        }

        .skills-list-container {
            &:before {
                transition-delay: $stagger + 0.05s;
            }

            &:after {
                transition-delay: $stagger + 0.3s;
            }
        }

        ul:after {
            transition-delay: $stagger + 0.3s;
        }

        @for $j from 1 through 4 {
            $s: $stagger + $j * 0.025s;
            li:nth-child(#{$j}) {
                &:before {
                    transition-delay: $s+ 0.3s;
                }

                span {
                    transition-delay: $s + 0.35s;
                }
            }
        }
    }
}