header {
    font-size: 1em;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $sm) {
        font-size: 1.5em;
        padding: 4rem 0;
    }

    @media (min-width: $md) {
        font-size: 2em;
        padding: 5rem 0;
    }

    @media (min-width: $lg) {
        font-size: 2.5em;
        padding: 6rem 0;
    }

    @media (min-width: $xl) {
        font-size: 3em;
        padding: 7rem 0;
    }

    svg {
        font-size: 1.5em;
        width: 8em;
        height: 2em;
        overflow: visible;

        text {
            fill: none;
            font-weight: 100;
            line-height: 1;
            letter-spacing: 0.125em;
            text-transform: uppercase;
            stroke: var(--color-black);
            stroke-width: 1px;
            stroke-dasharray: 0, 100;
            opacity: 0;
            transition: font-size 0.5s var(--ease), stroke 0.5s var(--ease), transform 0.5s var(--ease), stroke-dasharray 1s var(--ease), opacity 0s 1s;

            &:first-child {
                dominant-baseline: hanging;
            }
            &:last-child {
                dominant-baseline: alphabetic;
            }

            &.sub {
                stroke-width: 2px;
            }
        }
    }

    text:first-child {
        transform: translateX(-0.125rem);
    }

    text:last-child {
        font-size: 0.5em;
    }

    &.active {
        g:first-child text:first-child, & g:nth-child(1) text {
            stroke-dasharray: 100, 0;
            opacity: 1;
            transition: font-size 0.5s var(--ease), stroke 0.5s var(--ease), stroke-dasharray 1s var(--ease), transform 0.5s var(--ease);
        }
    }
}