.work > li {
    overflow: hidden;
}

.work-info {
    @media (min-width: $md) {
        display: flex;
        margin: 1.5em 0;
    }
}

.work-summary {
    font-weight: bold;
    margin: 0;

    @media (min-width: $md) {
        flex: 1;
        margin-right: 3em;
        white-space: nowrap;
    }

    > span {
        display: inline-block;
    }
}

.work-tags {
    margin: 0 -0.25rem;

    @media (max-width: #{$md - 1px}) {
        margin-top: 1em;
    }

    .row {
        @media (max-width: #{$md - 1px}) {
            display: inline-block;
        }

        @media (min-width: $md) {
            text-align: right;
        }
        
        div {
            display: inline-block;
            margin: 0.125rem;

            span {
                display: inline-block;
                background-color: $black-transparent;
                font-size: 0.75em;
                padding: 0.125rem;
            }
        }
    }
}