html, body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    line-height: 1;
    color: var(--color-black);
}

h2, h3, h4, p {
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

p {
    line-height: 1.5;

    @media (min-width: $md) {
        font-size: 1.0625em;
    }

    @media (min-width: $lg) {
        font-size: 1.125em;
    }
}
