@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400;600&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --ease: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    --ease-in: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    --ease-out: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

html {
    @apply overflow-x-hidden;
    @apply overflow-y-scroll;
}

body {
    @apply md:text-lg;
}