:root {
    --black: #000;
    --blue-50: #cfd7dc;
    --blue-100: #8699a6;
    --blue-200: #627b8c;
    --blue-300: #4c677b;
    --blue-400: #3a586e;
    --blue-500: #193c56;
    --blue-600: #173a52;
    --blue-700: #143146;
    --blue-800: #11293c;
    --blue-900: #0e2433;
    --gray-50: oklch(0.984 0.003 247.858);
    --gray-100: oklch(0.968 0.007 247.896);
    --gray-200: oklch(0.929 0.013 255.508);
    --gray-300: oklch(0.869 0.022 252.894);
    --gray-400: oklch(0.704 0.04 256.788);
    --gray-500: oklch(0.554 0.046 257.417);
    --gray-600: oklch(0.446 0.043 257.281);
    --gray-700: oklch(0.372 0.044 257.287);
    --gray-800: oklch(0.279 0.041 260.031);
    --gray-900: oklch(0.208 0.042 265.755);
    --gray-950: oklch(0.129 0.042 264.695);
    --transparent: transparent;
    --white: #fff;
    --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
    --ease: cubic-bezier(0.645, 0.045, 0.355, 1);
}

body {
    font-family: 'Work Sans Variable', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

.fade {
    transition: opacity 0.5s var(--ease);

    &:not(.active) {
        opacity: 0;
    }
}
