:root {
    --black: #000;
    --blue-50: #cfd7dc;
    --blue-100: #8699a6;
    --blue-200: #627b8c;
    --blue-300: #4c677b;
    --blue-400: #3a586e;
    --blue-500: #193c56;
    --blue-600: #173a52;
    --blue-700: #143146;
    --blue-800: #11293c;
    --blue-900: #0e2433;
    --transparent: transparent;
    --white: #fff;
    --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
    --ease: cubic-bezier(0.645, 0.045, 0.355, 1);
}

body {
    font-family: 'Work Sans Variable', sans-serif;
    margin: 0;
    padding: 0;
}
