.container {
    box-sizing: border-box;
    padding: 3em 2em;
    margin: 0 auto;

    @media (min-width: $sm) {
        max-width: $sm;
        padding: 4em;
    }

    @media (min-width: $md) {
        max-width: $md;
        padding: 5em;
    }

    @media (min-width: $lg) {
        max-width: $lg;
        padding: 6rem;
    }

    @media (min-width: $xl) {
        padding: 7rem;
    }
}