$black: #0A090C;
$black-transparent: rgba($black, 0.03);
$white: #FFFCF9;
$white-transparent: rgba($white, 0.03);
$blue: #193C56;
$blue-transparent: rgba($blue, 0.05);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;

$easeIn: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOut: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$ease: cubic-bezier(0.645, 0.045, 0.355, 1.000);