name: Build and Deploy

on:
    push:
        branches:
            - main

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Main Branch
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
                  ref: main

            - name: Use Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "22.x"

            - name: Install SSH Key
              uses: shimataro/ssh-key-action@v2
              with:
                  key: ${{ secrets.SSH_KEY }}
                  known_hosts: "unnecessary"

            - name: Adding Known Hosts
              run: ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

            - name: Download .env.production
              run: rsync -vz ${{ secrets.SERVER_USERNAME }}@${{ secrets.SERVER_HOST }}:${{ secrets.SERVER_ROOT }}/.env.production ./

            - name: Install Dependencies
              run: yarn install --frozen-lockfile --non-interactive

            - name: Build Website
              run: yarn build

            - name: Copy required files to standalone folder
              run: |
                  cp -r .next/static .next/standalone/.next
                  cp -r public .next/standalone

            - name: Upload standalone folder
              run: rsync -avz --delete --exclude-from=".rsync-exclude" .next/standalone/ ${{ secrets.SERVER_USERNAME }}@${{ secrets.SERVER_HOST }}:${{ secrets.SERVER_ROOT }}
